body {
    margin: 0;
}

#header {
    height: 80px;
    background: #2c3e50;
    color: white;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header-left {
    display: flex;
    flex-direction: column;
    /* 縦並び */
    justify-content: center;
}

.date {
    font-size: 14px;
}



#header h1 {
    margin: 0;
    font-size: 20px;
}

.logo {
    height: 50px;
}

#map {
    height: calc(100vh - 80px);
}

/* .legend {
    background: white;
    padding: 10px;
    line-height: 1.5em;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.8;
} */

.icon {
    max-width: 70%;
    max-height: 70%;
    margin: 4px;
}


.leaflet-control select {
  display: block;
  background: white;
  color: black;
}

#layerPanel {
    background: rgba(255, 255, 255, 0.8);
    padding: 8px;
    overflow-y: auto;
    width: 220px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    font-family: sans-serif;
    border-radius: 6px; 
}

.layer-item {
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: 0.2s ease;
}


.legend-row {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 13px;
}

.legend-color {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

.legend-picker {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

.legend-gradient-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 40px;
    font-size: 12px;
}

.legend-gradient {
    height: 60px;
    background: linear-gradient(
        to top,
        #ffffcc,
        #ffeda0,
        #feb24c,
        #f03b20,
        #bd0026
    );
    border-radius: 4px;
    margin: 4px 0;
}

.legend-max,
.legend-min {
    text-align: center;
}

.layer-remove-btn {
    float: right;
    background: none;
    border: none;
    cursor: pointer;
    color: #c33;
    font-weight: bold;
    font-size: 14px;
}

.layer-remove-btn:hover {
    color: red;
}

.drag-handle {
    cursor: move;
}


